*{margin: 0;padding: 0;list-style: none;}
	body{background-color: #000;}
	.zzsc{
		position: fixed;
		left: 50%;
		top: 50%;
		-webkit-transform:translate(-50%,-50%);
		-moz-transform:translate(-50%,-50%);
		-o-transform:translate(-50%,-50%);
		-ms-transform:translate(-50%,-50%);
		transform:translate(-50%,-50%);
	}
body {
	background-color: #000;
}

span {
	color: #fff;
	text-align: center;
	font-size: 80px;
}

.hotDate {
	position: fixed;
    left: 50%;
    top: 50%;
}